* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.cv-grid {
  position: relative;
  display: grid;
  grid-template-columns: 280px 470px;
  grid-template-rows: 220px 670px;
  grid-template-areas:
    'avatar-name avatar-name'
    'profile info';
  margin: 20px auto;
  width: 752px;
  border: 1px solid gray;
  border-radius: 15px;
}
.blue-line {
  position: absolute;
  background-color: #6e9b9b;
  left: 30px;
  width: 250px;
  height: 100%;
  z-index: 0;
}
.avatar-name {
  grid-area: avatar-name;
  display: flex;
  margin-top: 40px;
  background-color: rgb(255, 203, 107);
  justify-content: space-between;
}
.avatar {
  padding-left: 65px;
}
.avatar,
.profile,
.name {
  z-index: 2;
}
.avatar > img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid rgb(255, 237, 203);
}
.name {
  align-self: center;
  padding-right: 220px;
}
.name h1 {
  width: 200px;
  text-transform: uppercase;
}
.profile {
  grid-area: profile;
  color: white;
}
.profile,
.info {
  line-height: 1.4;
  margin-top: 20px;
  margin-left: 60px;
}
.profile h3,
.info-headers h3 {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.profile ul,
.profile h3,
.exp {
  padding-bottom: 20px;
}
.outline {
  width: 220px;
  height: 2px;
  margin-left: -15px;
  background-color: white;
}
.contacts {
  padding-top: 40px;
}
.profile ul {
  width: 200px;
}
li a {
  color: rgb(255, 237, 203);
  text-decoration: none;
}
li a:hover {
  color: rgb(255, 203, 107);
}

.info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.info-content {
  width: 410px;
  margin-bottom: 22px;
}
.info-headers {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info-headers-h3 {
  margin-left: 6px;
}
.info-content ul {
  margin-left: 20px;
}
pre {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
